.fixed_header thead tr {
    display: block;
}

.fixed_header thead {
    width: 100%;
}

.fixed_header tbody {
    display: block;
    overflow: auto;
    height: 650px;
    width: 100%;
}

.fixed_header thead tr th {
    text-align: left;
}

.fixed_header tbody tr td {
    text-align: left;
}

.card-body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}