<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Web Application for Data Visualization</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <table>
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Year</th>
                    <th>KM</th>
                    <th>Color</th>
                    <th>Price</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for car in cars %}
                <tr>
                    <td>{{ car[0] }} {{ car[1] }}</td>
                    <td>{{ car[2] }}</td>
                    <td>{{ car[3] }}</td>
                    <td>{{ car[4] }}</td>
                    <td>{{ car[5] }}</td>
                    <td>{{ car[6] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>